@model Product
<form action="~/Products/Create" method="post">
<fieldset>
    <div>
        <label>Name</label>
        <input type="text" asp-for="Name">
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div>
        <label>Price</label>
        <input type="text" asp-for="Price">
        @Html.ValidationMessageFor(m=>m.Price)
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</fieldset>
</form>