@model Product

    <form action="~/Products/Edit" method="post">
        <fieldset>
            <div>
                <label>Id</label>
                <input type="text" asp-for="Id" readonly>
            </div>
            <div>
                <label>Name</label>
                <input type="text" asp-for="Name">
            </div>
            <div>
                <label>Amount</label>
                <input type="text" asp-for="Amount">
            </div>
            <button type="submit">Edit</button>
        </fieldset>

        
    </form>